<h1>FORMULARIO DE PRODUCTO</h1>
<form action="" method="post">
    <div class="form-group">
        <label>Nombre:</label>
        <input type="text" name="nombre" class="form-control">
    </div>
    <div class="form-group">
        <label>Precio:</label>
        <input type="number" name="precio" id="">
    </div>
    <div class="form-group">
        <label>Descripción:</label>
        <input type="text" name="descripcion" class="form-control">
    </div>
    <div>
        <button>Enviar</button>
    </div>
</form>